<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editar Arquetipo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div class="container narrow">
        <h1>Editar Arquetipo</h1>
        <form action="#" th:action="@{'/arquetipo/' + ${arquetipo.arquetipoID} + '/editar'}" method="post" th:object="${arquetipo}">
        <label for="arquetipoNome">Nome do Arquetipo:</label><br>  
        <input type="text" th:field="*{arquetipoNome}"><br>

        <button type="submit" class="botao2">Salvar</button>
        </form>
        <div class="voltar">
        <p><a th:href="@{/arquetipo/listar}">Voltar</a></p>
        </div>
    </div>
</body>
</html>
