<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cadastro de Arquetipos</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Cadastrar Arquétipo</h1>
    <form action="#" th:action="@{/arquetipo}" method=post th:object="${arquetipo}">
    	<label for="arquetipoNome">Nome do Arquetipo:</label><br> 
        <input type="text" th:field="*{arquetipoNome}"><br>
    	<input type="submit" value="Cadastrar">
    </form>
    <div class="voltar">
        <a th:href="@{/}">Voltar</a>
        <a th:href="@{/arquetipo/listar}">Lista</a>
    </div>
</body>
</html>