<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Yu-GI-Oh! Database</title>
	<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
	<h1>Banco de dados de cartas de Yu-Gi-Oh!</h1>
	<span class="botoes">
	<ul>
		<li><a th:href="@{/carta}">Inserir Carta</a></li>
		<li><a th:href="@{/carta/listar}">Listar Todas Cartas</a></li>
	</ul>
	<ul>
		<li><a th:href="@{/atributo}">Inserir Atributo</a></li>
		<li><a th:href="@{/atributo/listar}">Listar Todos Atributos</a></li>
	</ul>
	<ul>
		<li><a th:href="@{/tipo}">Inserir Tipo</a></li>
		<li><a th:href="@{/tipo/listar}">Listar Todos Tipos</a></li>
	</ul>
	<ul>
		<li><a th:href="@{/arquetipo}">Inserir Arquetipo</a></li>
		<li><a th:href="@{/arquetipo/listar}">Listar Todos Arquetipos</a></li>
	</ul>
	<ul>
		<li><a th:href="@{/nivel}">Inserir Nivel</a></li>
		<li><a th:href="@{/nivel/listar}">Listar Todos Niveis</a></li>
	</ul>
	</span>
</body>
</html>