<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Yu-GI-Oh! Database</title>
	<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
	<h1>Banco de dados de cartas de<img th:src="@{/images/Yu-Gi-Oh!_Logo.png}"></h1>
	<div class="botoes">
		<a th:href="@{/carta}"><img th:src="@{/images/edit_icon.png}">Inserir Carta</a>
		<a th:href="@{/carta/listar}"><img th:src="@{/images/list_icon.png}">Listar Todas Cartas</a>

		<a th:href="@{/atributo}"><img th:src="@{/images/edit_icon.png}">Inserir Atributo</a>
		<a th:href="@{/atributo/listar}"><img th:src="@{/images/list_icon.png}">Listar Todos Atributos</a>
		
		<a th:href="@{/tipo}"><img th:src="@{/images/edit_icon.png}">Inserir Tipo</a>
		<a th:href="@{/tipo/listar}"><img th:src="@{/images/list_icon.png}">Listar Todos Tipos</a>

		<a th:href="@{/arquetipo}"><img th:src="@{/images/edit_icon.png}">Inserir Arquetipo</a>
		<a th:href="@{/arquetipo/listar}"><img th:src="@{/images/list_icon.png}">Listar Todos Arquetipos</a>
		
		<a th:href="@{/nivel}"><img th:src="@{/images/edit_icon.png}">Inserir Nivel</a>
		<a th:href="@{/nivel/listar}"><img th:src="@{/images/list_icon.png}">Listar Todos Niveis</a>
	</div>
</body>
</html>