<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cartas Cadastradas</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Lista de Cartas</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>NOME</th>
                <th>DESCRIÇÃO</th>
                <th>ATK</th>
                <th>DEF</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="carta : ${cartas}">
            	<td th:text="${carta.cartaID}"></td>
            	<td th:text="${carta.cartaNome}"></td>
            	<td th:text="${carta.descricao}"></td>
                <td th:text="${carta.atk}"></td>
                <td th:text="${carta.def}"></td>
            </tr>
        </tbody>
    </table>
    <div class="voltar">
        <a th:href="@{/}">Voltar</a>
        <a th:href="@{/carta}">Cadastro</a>
    </div>
</body>
</html>