<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editar Atributo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div class="container narrow">
        <h1>Editar Atributo</h1>
        <form action="#" th:action="@{'/atributo/' + ${atributo.atributoID} + '/editar'}" method="post" th:object="${atributo}">
        <label for="atributoNome">Nome do Atributo:</label><br>  
        <input type="text" th:field="*{atributoNome}"><br>

        <button type="submit" class="botao2">Salvar</button>
        </form>
        <div class="voltar">
        <p><a th:href="@{/atributo/listar}">Voltar</a></p>
        </div>
    </div>
</body>
</html>